 <%= form_with model: note do |f| %>

  <% if f.object.errors.any? %>
    <p class="error"><%= f.object.errors.full_messages.first %></p>
  <% end %>

   <div>
     <%= f.label 'Выберите каталог' %>
     <%= f.collection_select :catalog_id, Catalog.order(:created_at), :id, :name %>
   </div>

  <div>
    <%= f.label 'Название заметки' %>
    <%= f.text_field :name%>
  </div>

  <div>
    <%= f.label 'Ссылка' %>
    <%= f.text_field :link%>
  </div>

  <div>
    <%= f.label 'Описание' %>
    <%= f.text_area :description%>
  </div>

  <div>
    <%= f.submit %><br>
  </div>
<% end %>