<h1>Все заметки</h1>
<br>
<br>
    <div>
      <ul>
      <% @notes.each do |n| %>
          <li>
          <details>
            <summary><%= n.name %></summary>
            <section class="">
              <h3>Каталог: <%= Catalog.find(n.catalog_id).name %></h3>
              <p><%= n.description %></p>
              <a href="<%= n.link %>">Ссылка</a><br>
              <br>
              <% if authenticated? %>
              <%= link_to 'Редактировать', edit_note_path(n) %><br><br>
              <%= button_to 'Удалить', n, method: :delete,
                            data: {turbo_confirm: 'Действительно хотите удалить?'} %>
              <% end %>
            </section>
          </details>
        </li>
        <% end %>
      </ul>
    </div>