<section class="">
<!--  <h1><%#= Catalog.find(@note.catalog_id) %></h1>-->
  <h2><%= @note.name %></h2>
  <p><%= @note.description %></p>
  <a href="<%= @note.link %>">Ссылка</a><br>
<br>

<%= link_to 'Назад', notes_path %> |

<% if authenticated? %>
  <%= link_to 'Редактировать', edit_note_path(@note) %><br><br>
  <%= button_to 'Удалить', @note, method: :delete,
                data: {turbo_confirm: 'Действительно хотите удалить?'} %>
<% end %>
</section>